.Mid{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
}

th,td{
    width: 300px;
    text-align: center;
}
@media (max-width: 2560px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
    .ActiveAccountArea,.DeactivatedAccountArea{
        width: calc(100% - 20px);
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1440px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
    .ActiveAccountArea,.DeactivatedAccountArea{
        width: calc(100% - 20px);
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1024px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
    .ActiveAccountArea,.DeactivatedAccountArea{
        width: calc(100% - 20px);
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media (max-width: 768px) {
    .Mid{
        display: flex;
        width: calc(100% - 80px);
        height: 100vh;
        flex-direction: column;
    }

}
@media (max-width: 480px) {
    .Mid{
        display: flex;
        width: calc(100% - 80px);
        height: 100vh;
        flex-direction: column;
    }
}