.Mid{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 99vh;
}
.ActiveAccountArea{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 1470px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}
.TitleArea{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #00A3FF;
    margin-bottom: 5px;
}
h2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-left: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
/* Table Area */
.AccountsTable{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: fit-content;
}
th{
    background-color: #00A3FF;
}
td{
    background-color: white;
}
th,td{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    width: fit-content;
    height: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.Update,.Deactivate{
    height: fit-content;
}
.OnlineArea{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
.Online{
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.circle1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

}
.OfflineArea{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
.Offline{
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.circle2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.9);
    width: 20px;
    height: 20px;
}
.BtnArea{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.Notice{
    width: 100%;
}