.Mid{
    display: flex;
    width: 100%;
    height: 100vh;
}
th,td{
    width: 50%;
    border:1px solid black;
}
@media (max-width: 2961px) {
    .AddProgramForm {
        width: calc(100% - 25px); /* Adjusting width dynamically */
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        min-width: auto; /* Remove forced min-width to allow fluid resizing */
    }
}
@media (max-width: 2560px) {
    .AddProgramForm {
        width: calc(100% - 25px); /* Adjusting width dynamically */
        max-width: 800px;
        max-height: 1500px;
        margin-left: auto;
        margin-right: auto;
        min-width: auto; /* Remove forced min-width to allow fluid resizing */
    }
}
@media (max-width: 1440px) {
    .AddProgramForm {
        width: calc(100% - 25px); /* Adjusting width dynamically */
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        min-width: auto; /* Remove forced min-width to allow fluid resizing */
    }
}
@media (max-width: 1024px) {
    .AddProgramForm {
        width: calc(100% - 25px); /* Adjusting width dynamically */
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        min-width: auto; /* Remove forced min-width to allow fluid resizing */
    }
}
@media (max-width: 768px) and (min-width: 480px) {
    .AddProgramForm {
        width: calc(100% - 25px); /* Adjusting width dynamically */
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        min-width: auto; /* Remove forced min-width to allow fluid resizing */
    }
}
