.Mid{
    display: flex;
    width: 80%;
    height: 99vh;
    display: flex;
}

/* Medical Logs */
.MedicalLogsArea{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
    height: fit-content;
    max-height: 850px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: none;
}
/* Medical Logs Title */
.MedicalLogsTitleArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #00A3FF;
}
h3{
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}
/* Medical logs Table Area */
.MedicalLogsTableArea{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    max-height: 700px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/* Table */
.MedicalLogsTable{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
    background-color: white;    
}
.PatientIDCol{
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;

}
.PatientIDValueCol{
    width: 180px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ConsultationCol{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;
}
.ConsultationValueCol{
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.RemarksCol{
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;
}
.RemarksValueCol{
    width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.RemarksValue{
    margin-top: 5px;
    padding: 10px;
    max-height: 100px;
    min-height: 50px;
    border-radius: 10px;
    width: 250px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.DateOfConsultationCol{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;
}
.DateOfConsultationValueCol{
    margin-top: 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.DateOfUploadCol{
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;
}
.DateOfUploadValueCol{
    margin-top: 5px;
    width: 180px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.FilesCol{
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;
}
.FilesValueCol{
    margin-top: 5px;
    width: 180px;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ActionCol{
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #E5E5E5;
}
.ActionValueCol{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 180px;
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* No Result Messege */
.NoResultArea{
    display: flex;
    width: 1450px;
    height: 100%;
}
.NoResult{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-left: auto;
    margin-right: auto;
}
.DeleteForm{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
}
.ViewImageBtn{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: 0.4s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.ViewImageBtn:hover{
    transform: scale(1.1);
    color: black;
}
.Delete{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: 0.4s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Delete:hover{
    transform: scale(1.1);
    color: black;
}
.Update{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
    transition: 0.4s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.Update:hover{
    transform: scale(1.1);
    color: black;
}
.modal-backdrop {
    display: none !important;
}
.alert-danger{
    text-align: center;
}
.alert-success{
    text-align: center;
}