.Mid{
    display: flex;
    width: 90%;
    height: 99vh;
    justify-content: center;
}
.SearchResultTable{
    margin-top: 15px;
    width: 1400px;
    height: fit-content;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}
/* Search Result Title Area */
.SearchResultTitleArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #00A3FF;
}
h3{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}
.ResultTableArea{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
table{
    margin: 10px;
    display: flex;
    background-color: white;
    text-align: center;
}
.tbPatientID,.tbContact{
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    border: 1px solid black;
}
.tbAddress{
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    border: 1px solid black;
}
.tbLastName,.tbFirstName,.tbMiddleName{
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    border: 1px solid black;
}
.tbGender{
    padding-left: 10px;
    padding-right: 10px;
    width: 110px;
    border: 1px solid black;
}
.tbAge,.tbAction{
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    border: 1px solid black;
}
.trMessege{
    display: flex;
}
.tbMessege{
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.Seemore{
    width: 120px;
    height: 32px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    color: black;
    text-decoration: none;
}
.Seemore:hover{
    transform: scale(1.1);
    color: white;
}