.Mid{
    display: flex;
    width: 80%;
    height: 100vh;
    justify-content: center;
}
@media (max-width: 768px) {
    .CreateAccountForm{
        height: 98%;
        width: 98%;
        margin-right: 2px;
        margin-left: 1px;
    }
    .code,.flag{
        width: 35px;
        min-width: 30px;
        height: 40px;
    }
    .LastName,.FirstName,.MiddleName{
        font-size: medium;
        height: 40px;
        width: 200px;
    }
    .LastName::placeholder{
        font-size: medium;
    }
    .FirstName::placeholder{
        font-size: medium;
    }
    .MiddleName::placeholder{
        font-size: medium;
    }
    .Birthdate{
        font-size: medium;
        height: 40px;
        width: 150px;
    }
    .Age{
        font-size: medium;
        height: 40px;
    }
    .Gender{
        font-size: medium;
        height: 40px;
        padding-top: 4px;
    }
    .Birthdate::placeholder{
        font-size: medium;
    }
    .Age::placeholder{
        font-size: medium;
    }
    .Gender::placeholder{
        font-size: medium;
    }
    .HouseNumber{
        font-size: medium;
        height: 40px;
    }
    .Street,.Barangay{
        font-size: medium;
        height: 40px;
        width: 200px;
    }
    .HouseNumber::placeholder{
        font-size: medium;
    }
    .Street::placeholder{
        font-size: medium;
    }
    .Barangay::placeholder{
        font-size: medium;
    }
    .Municipality,.Province{
        font-size: medium;
        height: 40px;
        width: 200px;
    }.Municipality::placeholder{
        font-size: medium;
    }
    .Province::placeholder{
        font-size: medium;
    }
    .ContactNumber{
        font-size: medium;
        height: 40px;
        width: 150px;
    }
    .ContactNumber::placeholder{
        font-size: medium;
    }
    .flagImage{
        height: 1rem;
    }
    .code{
        font-size: 0.9rem;
    }
    .email{
        font-size: medium;
        height: 40px;
        width: 200px;
    }
    .email::placeholder{
        font-size: medium;
    }
    .username{
        font-size: medium;
        height: 40px;
        width: 200px;
    }
    .username::placeholder{
        font-size: medium;
    }
    .password{
        font-size: medium;
        height: 40px;
        width: 200px;
    }
    .password::placeholder{
        font-size: medium;
    }
    .profile_picture{
        font-size: medium;
        height: 35px;
        width: 200px;
    }
    .profile_picture::placeholder{
        font-size: medium;
    }
}
