.Mid{
    display: flex;
    width: 80%;
    height: 99vh;
    flex-direction: column;
}
.SettingsProfileArea{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}
.SettingsTitle{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #00A3FF;
}
h2{
    margin-left: 50px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
.ProfileSettingsArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
}
.ProfileSettingsTitle {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    height: 60px;
    border-bottom: 2px solid black; 
}

h3{
    margin-left: 50px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.BasicInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ProfilePicArea{
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.ProfilePictureArea{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid black;
}
.profilepicture{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid black;
}
.ProfilePicBtns{
    display: flex;
    width: 80%;
}
.UploadArea,.DeleteArea{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}
/* info area */
.InfoArea{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}
.FirstRow{
    margin-left: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.LastNameLabel,.FirstNameLabel,.MiddleNameLabel{
    text-align: end;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.SecondRow{
    margin-left: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.LastName,.FirstName,.MiddleName{
    text-align: start;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.ThirdRow{
    margin-left: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.BirthdateLabel,.AgeLabel,.GenderLabel{
    text-align: end;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.FourthRow{
    margin-left: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Birthdate,.Age,.Gender{
    text-align: start;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Contact Info Area */
.ContactInfoArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.ContactInfoTitle {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    height: 60px;
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
}
.ContactsArea{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.AddressLabel,.ContactNumberLabel,.EmailLabel{
    margin-top: 10px;
    text-align: end;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.SecondRow2{
    margin-left: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Address,.ContactNumber,.Email{
    margin-top: 10px;
    text-align: start;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Account Info Area */
.AccountInfoArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.AccountInfoTitle{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    height: 60px;
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
}
.AccountArea{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.UsernameLabel,.PasswordLabel,.ReTypePasswordLabel{
    text-align: end;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.SecondRow2{
    margin-left: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Username,.Password,.ReTypePassword{
    text-align: start;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.BtnArea{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}
.Update{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}