@media (min-width: 320px) {
    #chart_div {
        max-width: 800px !important;
        width: 100% !important;
        height: auto !important;
        overflow: hidden !important;
      }
       
}
@media (min-width: 768px) {
    #chart_div {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        height: auto !important;
        overflow: hidden !important;
      }
}
@media (min-width: 1440px) {
    #chart_div {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        height: auto !important;
        overflow: hidden !important;
      }
}