.Mid{
    display: flex;
    width: 80%;
    height: 100vh;
    justify-content: center;
}
.UpdateAccountForm{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: fit-content;
    border-radius: 20px;
    background-color: white;
}
.FormTitle{
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00A3FF;
    border-radius: 20px 20px 0 0;
}
h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}
/* Basic Info Area */
.BasicInfoArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.LableArea{
    width: 100%;
    background-color: #00a2ff6f;
}
h2{
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.FullNameArea{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}
.LastNameArea,.FirstNameArea,.MiddleNameArea{
   width: 33.33%;
   height: 50px;
   background-color: aliceblue;
   margin-left: 5%;
   display: flex;
}
.LastName,.FirstName,.MiddleName{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 100px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.AgeGenderBirthdayArea{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}
.BirthdateArea,.AgeArea,.GenderArea{
   width: 33.33%;
   height: 50px;
   background-color: aliceblue;
   margin-left: 5%;
   display: flex;
}
.Age{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 80px;
    min-width: 50px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.Birthdate{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 200px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.GenderValue{
    margin-top: auto;
    margin-bottom: auto;
    width: 160px;
    min-width: 140px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
/* Contact Info Area */
.ContactInfoArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.LableArea{
    width: 100%;
    background-color: #00a2ff6f;
}
h2{
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.AddressArea1{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}
.HouseNoArea,.StreetArea,.BarangayArea{
   width: 33.33%;
   height: 50px;
   background-color: aliceblue;
   margin-left: 5%;
   display: flex;
}
.HouseNo,.Street,.Barangay{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 200px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.AddressArea2{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}
.MunicipalityArea,.ProvinceArea{
   width: 33.33%;
   height: 50px;
   background-color: aliceblue;
   margin-left: 5%;
   display: flex;
}
.Municipality,.Province{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 200px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.ContactArea{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}
.PhoneNoArea,.emailArea{
   width: 33.33%;
   height: 50px;
   background-color: aliceblue;
   margin-left: 5%;
   display: flex;
}
.Email-Address{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 250px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;

}
.Contact{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 180px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}
.PhCode{
    margin-top: auto;   
    margin-bottom: auto;
    padding-left: 6%;
    width: 30px;
    height: 2.5rem;
    border: 1px solid black ;
    border-right: none;
    border-radius: 5px 0 0 5px;   
    background: url('/images/Ph-Flag.png') no-repeat center;
    background-size: 20px 20px;
    background-color: white;
}
.Code{
    border: 1px solid black;
    border-right: none;
    border-left: none;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    visibility: visible;
    background-color: white;
}
/* Account Info Area */
.AccountArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.LableArea{
    width: 100%;
    background-color: #00a2ff6f;
}
h2{
    margin-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.UsernameAndPasswordArea{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}
.UsernameArea,.OldUsernameArea{
   width: 33.33%;
   height: 50px;
   background-color: aliceblue;
   margin-left: 5%;
   display: flex;
}
.passwordArea{
    width: 40%;
    height: 50px;
    background-color: aliceblue;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
.direction{
    margin-left: 5px;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: fit-content;
}
.Username,.OldUsername,.password{
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    min-width: 200px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    padding-right: 5px;
}
.OldUsernameArea{
    display: none;
}
/* Button Area */
.BtnArea{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
.save{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    padding: 5px;
}

/* Media Queries Area */
@media (max-width: 1024px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    .LastName,.FirstName,.MiddleName{
        min-width: 150px;
        height: fit-content;
        font-size: 1rem;
    }
    .Birthdate{
        min-width: 130px;
        height: fit-content;
        font-size: 1rem;
    }
    .Age{
        width: 50px;
        height: fit-content;
        font-size: 1rem;
    }
    .GenderValue{
        width: 120px;
        min-width: 100px;
        font-size: 1rem;
        height: 30px;
    }
    .HouseNo,.Street,.Barangay{
        min-width: 150px;
        height: fit-content;
        font-size: 1rem;
    }
    .Municipality,.Province{
        min-width: 150px;
        height: fit-content;
        font-size: 1rem;
    }
    .Email-Address{
        min-width: 200px;
        height: fit-content;
        font-size: 1rem
    }
    .Contact{
        min-width: 100px;
        height: fit-content;
        font-size: 1rem
    }
    .PhCode{
        height: 28px;
        font-size: 1rem
    }
    .Code{
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        height: 28px;
        font-size: 1rem;
    }
    .Username,.password{
        min-width: 150px;
        height: fit-content;
        font-size: 1rem
    }
    .direction{
        min-width: 120px;
        padding-top: 10px;
        font-size: 0.5rem
    }
}
@media (max-width: 768px) {
    .UpdateAccountForm{
        overflow: auto;
        max-height: 98%;
        margin-left: 5px;    
    }
    h1{
        margin-left: 10%;
        font-size: 1.3rem;
    }
}
@media (max-width: 767px) {
    .UpdateAccountForm{
        overflow: auto;
        max-height: 98%;
    }
    .FullNameArea,.AgeGenderBirthdayArea,.AddressArea1,
    .AddressArea2,.ContactArea,.UsernameAndPasswordArea{
        flex-direction: column;
        width: 100%;
    }
    .LastNameArea,.FirstNameArea,.MiddleNameArea{
        width: 100%;
    }
    .LastName,.FirstName,.MiddleName{
        min-width: 200px;
        height: fit-content;
        font-size: 1rem;
    }
    .HouseNoArea,.StreetArea,.BarangayArea{
        width: 100%;
    }
    .MunicipalityArea,.ProvinceArea,.emailArea{
        width: 100%;
    }
    .HouseNo,.Street,.Barangay{
        min-width: 200px;
        height: fit-content;
        font-size: 1rem;
    }
    .Municipality,.Province{
        min-width: 200px;
        height: fit-content;
        font-size: 1rem;
    }
    .UsernameArea.passwordArea{
        width: 100%;
    }
    .Username,.password{
        min-width: 150px;
        height: fit-content;
        font-size: 1rem;
    }
    .direction{
        min-width: 150px;
    }
}
@media (max-width: 425px) {
    h2{
        font-size: 1.5rem;
    }
    .passwordArea{
        flex-direction: column;
    }
    .direction{
        padding-bottom: 20px;
    }
}
@media (max-width: 320px) {
    h2{
        font-size: 1.2rem;
    }
}
