.Mid{
    display: flex;
    width: 87%;
    height: 100vh;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(88, 25, 25, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
}
@media (max-width: 2961px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
}
@media (max-width: 2560px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
}
@media (max-width: 1440px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
}
@media (max-width: 1024px) {
    .Mid{
        display: flex;
        width: calc(100% - 200px);
        height: 110vh;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .Mid{
        display: flex;
        width: calc(100% - 80px);
        height: 100vh;
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .Mid{
        display: flex;
        width: calc(100% - 80px);
        height: 100vh;
        flex-direction: column;
    }
}

