.TopArea{
    width: 100%;
    height: 100px;
}
.MainArea{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.LeftSide{
    width: 10%;
    height: 100%;
}
.Mid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.RightSide{
    width: 10%;
    height: 100%;
}
.BottomArea{
    width: 100%;
    height: 100px;
}
.OTPContainer{
    margin-top: 20px;
    width: 60%;
    height: 700px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}
.OTPForm{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.OTPLabelArea{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    text-align: center;
}
.OTPLAbel{
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.OTPInput{
    display: flex;
    width: 100%;
    height: 80px;
}
.OTPValue{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}
.OTPBtnArea{
    display: flex;
    width: 100%;
    height: 70px;
}
.OTPBtn{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.OTPerror{
    display: flex;
    margin-top: 10px;
}
.alert-danger{
    text-align: center;
    width: 98%;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1024px){    
    .OTPForm{
        width: 80%;
    }
    .OTPLAbel{
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .OTPBtn{
        width: 50%;
        height: 50px;
    }
}
@media (max-width: 800px){
    .OTPInput{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .OTPValue{
        width: 80%;
        height: 50px;
    }
}
@media(max-width: 768px){
    .OTPContainer{
        margin-top: 20px;
        width: 80%;
        height: 700px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
    } 
}
@media (max-width: 425px) {
    .OTPLAbel{
        font-size: 1rem;
    }
    .OTPBtn{
        height: 40px;
        font-size: 1rem;
    }
}


