.ForgotPasswordContainer{
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}
.UpdatePasswordForm{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
}
.TitleArea{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-radius: 30px 30px 0 0;
}
.TitleForm{
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.InputPasswordArea{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.InputPassword{
    width: 300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px; 
}
.InputPasswordAgainArea{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.InputAgainPassword{
    width: 300px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.UpdatePassword{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.UpdatePasswordBtn{
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@media (max-width: 926px) {
    .ForgotPasswordContainer{
        width: 77%;
    }
    
}
@media (max-width: 1430px) {
    .ForgotPasswordContainer{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .InputPassword{
        width: 50%;
        height: 30px;
    }
    .InputAgainPassword{
        width: 50%;
        height: 30px;
    }
}
@media (max-width: 425px) {
    .InputPassword{
        width: 70%;
        font-size: 0.85rem;
    } 
    .InputAgainPassword{
        width: 70%;
        font-size: 0.85rem;
    }
    .TitleForm{
        font-size: larger;
    }
}